.header {
  font-family: "Handlee", cursive;
  color: #ffff;
  text-align: center;
}

.edit {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button_remove {
  width: 0;
  height: 0;
}

.button_add {
  background-color: #151515;
  height: 35px;
  width: 150px;
  border: 1px solid #e3bf4f;
  border-radius: 2%;
  color: #e3bf4f;
}

.button_complete {
  background-color: #151515;
  height: 35px;
  width: 150px;
  border: 1px solid #e3bf4f;
  border-radius: 2%;
  color: #e3bf4f;
}
